/* body{
    
} */

nav{
    background-color: crimson;
}

ul{
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

li{
    float: left;
}

li a{
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 14px 32px;
    color: white;
}

li a:hover{
    color: darkgrey;
}

.container{
    display: flex;
    margin:3% 3%;
    flex-wrap: wrap;
}

.big{
    background-color: aqua;
    width: 50%;
    height: 400px;
}

.small1{
    background-color: brown;
    width: 25%;
    height: 200px;
}
.small2{
    background-color:chocolate;
    width: 25%;
    height: 200px;
}

img{
    width: 100%;
    height: 200px;
   
}

h4{
    position: absolute;
}

